body {
    font-family: Arial, sans-serif;
    background-color: #01060c;
    margin: 0;
    padding: 0;
}

.contenedor-cv {
    max-width: 800px;
    margin: 30px auto;
    background: rgb(255, 253, 253);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

header {
    text-align: center;
    border-bottom: 2px solid #ddd;
    padding-bottom: 15px;
}

.foto-perfil {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

h1 {
    margin: 10px 0;
    color: #333;
}

.profesion {
    color: #666;
    font-style: italic;
}

.contacto {
    font-size: 14px;
    color: #555;
}

a {
    margin: 5px;
    text-decoration: none;
    color: #865c0f;
}

a:hover {
    text-decoration: underline;
}

section {
    margin-top: 20px;
}

h2 {
    color: #865c0f;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

ul {
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}
✨ 

i {
    margin-right: 5px;
    color: #865c0f;
}

a i {
    font-size: 18px;
}